doctype html 
html    
    head 
        title Free School System
        block scripts 
        block style 
    body 
        nav 
            div.container
                
                ul.logo-ul
                    li 
                        img(src='../static/school_pics/logo.png')
                    li FSS
                ul.menu
                    li #[a(href="/") Home]
                    li #[a(href="/") Gallery] 
                    li #[a(href="/") Services]
                    li #[a(href="/") About Us] 
                    li #[a(href="/contact") Contact]

        block content 
        footer#footer 
            | Copyright &copy 2021 FreeSchoolSystem.com |  All rights reserved
