extends base.pug


block style  
        style
            include ../static/style.css
            include ../static/contactstyle.css
block content
         
        section.contact 
            div.container
                h1 Contact
            form(method="post" action="/contact" class="myform")
                input(type="text" , required name="name" class="input" placeholder="Enter Your Name")
                input(type="email" , required name="email" class="input" placeholder="Enter Your Email Address")
                input(type="address" name="address" class="input" placeholder="Enter Your Address")
                input(type="number" name="phone" class="input" placeholder="Enter Your Phone Number")
                input(type="textarea", required name="desc" class="input" placeholder="Enter Your Message")
                button.btn 
                    | Submit   

