//- index.pug
doctype html
html 
    head 
        link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='../static/school_pics/favicon.ico')
        link(rel='apple-touch-icon-precomposed', href='../static/school_pics/favicon-152.png')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="description", content="responsive template")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name='msapplication-TileImage', content='../static/school_pics/favicon-144.png')
        title 
            | School 
      
        style
            include ../static/style.css
    body 
         nav.navbar
            div.container
                div.nav-resp
                    div.burger
                        div
                        div
                        div
                ul.logo-ul
                    li 
                        img(src='../static/school_pics/logo.png', alt='FSS Logo')
                    li FSS
                ul.menu
                    li #[a(href="/") Home]
                    li #[a(href="/about") About Us] 
                    li #[a(href="/contact") Contact]
                div.links
                    a(href="/", target="_blank")
                        button.fa.fa-facebook 
                    a(href="/", target="_blank")
                        button.fa.fa-whatsapp 
                    a(href="/", target="_blank")
                        button.fa.fa-linkedin

        section.main 
            div.container
                h1 Free School System 
                p Read, Lead and Succeed 
        section.mission
            h2 Our Mission
            div.sub-mission
                div.mission-card#no1 
                    div.transbox
                        h1 Hello
                div.mission-card#no2
                    div.transbox
                        h1 Hello
                div.mission-card#no3
                    div.transbox
                        h1 Hello
        footer 
            div.foot
                | FOOTER
        